# Build artifacts
*.iso
*.img
*.log
*.pkg.tar.zst
*.db.tar.zst

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Temporary files
*.tmp
*.bak
*~

# Encrypted answer files (never commit real data)
*.gpg
*.age

# IDE / editor
.vscode/
.idea/
.nvim/
Session.vim
*.swp
*.swo
.nvimrc

# Folders to ignore
out/
work/
